---
---

// Reset & Mixins ———————————————————————————— •
@charset "UTF-8";

@import
  'globals/mixins',
  'globals/buttons',
  'globals/reset';


// Base Styles ——————————————————————————————— •
html {
  background: $color-text;
}

body {
  @include border-box;
  @include font-smoothing(antialiased);
  color: $color-text;
  font-family: $font-serif;
  font-size: 1.3rem;
  line-height: 1.5;
  position: relative;
  font-weight: 400;
  letter-spacing: -0.5px;
  text-align: center;

  @include media(small) {
    font-size: 1.0rem;
  }
}

a {
  color: $color-link;
  &:hover { color: $color-link-hover; }
  &:active { color: $color-text; }
}

h1 {
  font: 1.9rem/1.2 $font-serif;
  margin-bottom: 1.8rem;
  font-weight: bold;

  @include media(small) {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }
}

h2 {
  font-size: 1.6rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  font-weight: bold;

  @include media(small) {
    font-size: 1.4rem;
  }
}

h3 {
  font-size: 1.3rem;
  line-height: 1.2;
  color: brown;
  margin-bottom: 1rem;
}

h4 {
  font: 1.1rem/1.2 $font-sans;
  font-weight: bold;
  text-transform: uppercase;

  @include media(small) {
    font-size: 1rem;
  }
}

hr {
  border-top: 4px double rgba(0,0,0,0.2);
  height: 0;
  margin: 2rem -1rem;
  clear: left;
}

p {
  margin-bottom: 1.6rem;
}

ul, ol {
  padding-left: 1.6rem;
  margin-bottom: 1.6rem;
}

// SITE LAYOUT
.header {
  @include clearfix;
  padding: 1.5rem 0;
  border-bottom: 0px solid #548e76;
}

.logo {
  max-width: 240px;
  margin: 0 auto;

  img { width: 100%; }

  @include media(small) {
    max-width: 200px;
  }

  a { text-decoration: none; }

  figcaption {
    display: none;
    color: $color-white-text;
    text-transform: uppercase;
    font-family: $font-sans;
    font-weight: bold;
    font-size: 0.8rem;
    margin-top: -1.5rem;
    padding: 0 2.5rem;
    text-align: center;
    line-height: 1;

    @include media(large) {
      display: block;
    }
  }

  @include media(large) {
    display: inline-block;
    vertical-align: middle;
  }
}

.site-nav {
  margin: 0;
  padding: 0;

  @include media(large) {
    display: inline-block;
    vertical-align: middle;
  }
}

.site-nav-items {
  margin: 0;
  padding: 0;
}

.site-nav__item {
  display: inline-block;
  line-height: 1.3;
  margin: 0;
  border-bottom: 1px solid transparent;

  &:not(:first-child) {
    margin-left: 0.5rem;
  }

  &.active,
  &:hover {
    border-color: $color-white-text;
  }

  @include media(medium) {
    margin: 0 2.5rem;
  }

  a { text-decoration: none; }
}

.site-nav-link__secondary {
  display: block;
  font-size: 1rem;
  font-style: italic;
  color: $color-white-text;

  @include media(small) {
    display: none;
  }
}

.site-nav-link__primary {
  color: $color-white-text;
  text-transform: uppercase;
  font-family: $font-sans;
  font-weight: bold;
  font-size: 1rem;

  @include media(medium) {
    font-size: 1.2rem;
  }
}

.site-nav__item--hours {
  @include media(large) {
    display: none;
  }
}

.site-nav-events__big {
  @include media(small) {
    display: none;
  }
}

.site-nav-events__small {
  @include media(medium) {
    display: none;
  }
}

.byline {
  font-size: 1.2rem;
  line-height: 1.3;
}

main {
  @include border-box;
  @include clearfix;
  display: block;
  padding: 2rem 1rem;
  text-align: left;
  background: $color-background;
}

.page-content {
  @include media(large) {
    min-height: 20rem;
    padding: 1rem 4rem 1rem;
  }
}

.site-footer {
  @include clearfix;
  display: block;
  padding: 2rem 0;
  font-family: $font-sans;

  .facebook {
    color: $color-white-text;
    font-size: 1rem;
  }

  @include media(medium) {
    padding: 2rem 6rem 2rem;
  }
}

.up-arrow {
  background: #fdd598;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 5rem;
  font-size: 2rem;
}

/* site nav in footer */
.site-nav--small {
  display: block;

  .site-nav__item {
    @include media(medium) {
      margin: 0 0 0 1rem;
    }

    &:first-child { margin-left: 0 !important; }
  }

  .site-nav-link__primary {
    font-size: 0.8rem;

    @include media(medium) {
      font-size: 1rem;
    }
  }
}

.copyright {
  font: 0.75rem / 1.2 $font-sans;
  margin: 3rem 0 0;
  color: $color-white-text;
}

// UTLITY CLASSES
.flush {
  margin: 0;
}

.flush--bottom {
  margin-bottom: 0;
}

.push {
  margin: 0.8rem 0;
}

.push-half--bottom {
  margin-bottom: 0.4rem !important;
}

.centered {
  text-align: center;
}

.hide-on-mobile {
  @include media(small) {
    display: none;
  }
}

// HOME
.main-column,
.right-column {
  @include media(large) {
    display: table-cell;
    vertical-align: top;
  }
}

.main-column {
  @include media(large) {
    width: 70%;
    padding-right: 5rem;
  }
}

.right-column hr:first-child {
  @include media(large) {
    display: none;
  }
}

.home-hours {
  padding-left: 0;
  list-style-type: none;
}

.video-embed {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-embed__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.google-map:hover {
  cursor: pointer;
}


// MENU
.menu__content {
  margin-top: 3rem;
}

.menu__section {
  max-width: 60rem;
  margin: 0 auto 2rem;

  p, table {
    font-size: 1.1rem;

    @include media(small) {
      font-size: 1rem;
    }
  }

  th, td {
    padding-right: 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.07);
  }
}

.menu-column {
  margin-bottom: 1rem;

  @include media(medium) {
    display: inline-block;
    width: 45%;
    vertical-align: top;

    + .menu-column {
      margin-left: 6%;
    }
  }
}

.menu__heading {
  text-align: center;
  padding-bottom: 0.3em;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.menu__item {
  margin-bottom: 1rem;

  p {
    margin-left: 1rem;
  }
}

.menu__item--table {
  width: 100%;
  max-width: 100%;

  th, td {
    padding-top: 0.2em;
    padding-bottom: 0.2em;

    @include media(small) {
      font-size: 0.8rem;
    }
  }

  p {
    font-size: 0.8rem;
    line-height: 1.2;
    margin-bottom: 0;

    @include media(small) {
      font-size: 0.6rem;
      margin-left: 0;
    }
  }
}

.menu__callout {
  border: 1px solid brown;
  padding: 1rem;
  margin: auto auto 2rem;
  max-width: 60rem;
  text-align: center;

  h3 {
    padding-bottom: 0.2rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid brown;
  }

  p {
    margin-bottom: 0;
    font-size: 1.1rem;

    @include media(small) {
      font-size: 1rem;
      line-height: 1.2;
    }
  }
}

.menu__callout--promo {
  @include media(medium) {
    margin-top: -2rem;
  }
}

// PARTY PACKAGES
.menu__item--packages th {
  width: 30%;
  text-align: right;
}

// CONTACT PAGE
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-family: $font-sans;
  font-size: 1.4rem;
  line-height: 1.4;
  border: 3px solid rgba(0,0,0,0.2);
  border-radius: .3rem;
  padding: 1rem;
  margin-bottom: 1rem;
  -webkit-appearance: none;
  outline: none;
  resize: none;
}

.contact {
  max-width: 50rem;
  margin: 0 auto;

  label {
    display: block;
    font-size: 1.4rem;
    line-height: 1.4;
    letter-spacing: -0.5px;
  }
}

.contact__form {
  font-family: $font-sans;
}

// MAX-WIDTH/TEXTUAL PAGES
.page-content--max-width {
  max-width: 50rem;
  margin: 0 auto;
}


// iOS Font Sizing —————————————————————— •
@media screen and (max-device-width: 480px) {
  html {
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
  }
}

// Print styles
@media print {
  .site-nav,
  .page-nav,
  .pdf-icon,
  .site-footer { display: none; }

  .header,
  .home {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
