---
---

// Reset & Mixins ———————————————————————————— •
@charset "UTF-8";

@import
  'globals/mixins',
  'globals/buttons',
  'globals/reset';


// Base Styles ——————————————————————————————— •
html {
  background: #4a3337;
}

body {
  @include border-box;
  @include font-smoothing(antialiased);
  color: $color-text;
  font-family: $font-sans;
  font-size: 1.3rem;
  line-height: 1.5;
  position: relative;
  font-weight: 400;
  letter-spacing: -0.5px;
  margin-bottom: 4rem;
  text-align: center;
}

a {
  color: $color-link;
  &:hover { color: $color-link-hover; }
  &:active { color: $color-text; }
}

.header {
  @include clearfix;
  padding: 1rem 2rem;
  background: #fdd598;
  border-bottom: 5px solid rgba(0,0,0,0.05);

  @include media(large) {
    padding: 2rem 4rem 1rem;
  }
}

.logo {
  max-width: 200px;
  margin: 0 auto;

  img { width: 100%; }

  @include media(large) {
    float: left;
  }
}

.site-nav {
  margin: 0;
  padding: 0;

  @include media(large) {
    float: right;
    margin-top: 1rem;
  }
}

.site-nav-items {
  margin: 0;
}

.site-nav__item {
  display: inline-block;
  margin: 0 0 0 0.5rem;

  @include media(medium) {
    margin: 0 1rem;
  }
}

.site-nav__item a {
  text-decoration: none;
}

h1 {
  font: 1.9rem/1.2 $font-sans;
  margin-bottom: 2rem;
  font-weight: bold;
}

h2 {
  font: 1.4rem/1.2 $font-sans;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

hr {
  border-top: 4px double rgba(0,0,0,0.2);
  height: 0;
  margin: 2rem -1rem;
  clear: left;
}

p {
  margin-bottom: 1.6rem;
}

ul, ol {
  padding-left: 1.6rem;
  margin-bottom: 1.6rem;
}

.flush {
  margin: 0;
}

.push-half__bottom {
  margin-bottom: 0.4rem !important;
}

.byline {
  font: 1.2rem/1.3 $font-sans;
}

main {
  @include border-box;
  @include clearfix;
  display: block;
  background: white;
  padding: 2rem 1rem;
  text-align: left;
  background: #f8f3ec;
}

.page-content {
  @include media(large) {
    padding: 1rem 4rem 1rem;
  }
}

.site-footer {
  position: relative;
  display: block;
  padding: 1.5rem 2rem;
  margin: 0 auto;
  text-align: center;
}

.copyright {
  font-size: 1rem;
  margin-top: .3rem;
  color: white;
}

// UTLITY CLASSES
.cta {
  text-align: center;
  margin: 2rem 0;
}

.centered {
  text-align: center;
}

.loadable:not(.loading) .busy {
  display: none;
}

.busy {
  font-weight: bold;
  margin-top: 2rem;
  text-align: center;
}

.page-image {
  margin-bottom: 2rem;
  text-align: center;

  img {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}

.page-image__caption {
  font-size: 1.1rem;
}

// HOME
.main-column,
.right-column {
  @include media(large) {
    display: table-cell;
    vertical-align: top;
  }
}

.main-column {
  @include media(large) {
    width: 70%;
    padding-right: 5rem;
  }
}

.home-hours {
  list-style-type: none;
}


// CONTACT PAGE
.contact {
  label {
    display: block;
    font-size: 1.4rem;
    line-height: 1.4;
    letter-spacing: -0.5px;
  }

  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-family: $font-sans;
    font-size: 1.4rem;
    line-height: 1.4;
    border: 3px solid #ccc;
    border-radius: .3rem;
    padding: 1rem;
    margin-bottom: 1rem;
    -webkit-appearance: none;
    outline: none;
    resize: none;
  }
}



// iOS Font Sizing —————————————————————— •
@media screen and (max-device-width: 480px) {
  html {
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
  }
}
