{% assign active = page.url | downcase | split: '/' %}

<header class="header">
  <figure class="logo">
    <a href="/"><img src="/assets/images/logo.svg"></a>
  </figure>
  <nav class="site-nav">
    <ul class="site-nav-items">
      <li class="site-nav__item {% if active[1] == 'menu'    %}'active'{% endif %}"><a href="/menu/">Our Menu</a></li>
      <li class="site-nav__item {% if active[1] == 'catering' %}'active'{% endif %}"><a href="/catering/">Catering &amp; Parties</a></li>
      <li class="site-nav__item {% if active[1] == 'contact' %}'active'{% endif %}"><a href="/contact/">Contact</a></li>
      <li class="site-nav__item {% if active[1] == 'about'   %}'active'{% endif %}"><a href="/about/">About</a></li>
    </ul>
  </nav>
</header>
