{% assign active = page.url | downcase | split: '/' %}

<a name="top"></a>
<header class="header">
  <figure class="logo">
    <a href="/">
      <img src="/assets/images/logo.svg" alt="Traverso’s">
      <figcaption>Italian Restaurant Lounge &amp; Pizzeria</figcaption>
    </a>
  </figure>
  <nav class="site-nav">
    <ul class="site-nav-items">
      <li class="site-nav__item {% if active[1] == 'menu' %} active {% endif %}">
        <a href="/menu/">
          <span class="site-nav-link__secondary">Browse</span>
          <span class="site-nav-link__primary"><span class="hide-on-mobile">Our </span>Menu</span>
        </a>
      </li>
      <li class="site-nav__item {% if active[1] == 'events' %} active {% endif %}">
        <a href="/events/">
          <span class="site-nav-events__big">
            <span class="site-nav-link__secondary">Plan or book</span>
            <span class="site-nav-link__primary">Catering &amp; Parties</span>
          </span>
          <span class="site-nav-events__small">
            <span class="site-nav-link__primary">Events</span>
          </span>
        </a>
      </li>
      <li class="site-nav__item site-nav__item--hours">
        <a href="/#hours">
          <span class="site-nav-link__secondary">Open daily</span>
          <span class="site-nav-link__primary">Hours</span>
        </a>
      </li>
      <li class="site-nav__item {% if active[1] == 'contact' %} active {% endif %}">
        <a href="/contact/">
          <span class="site-nav-link__secondary">Call or visit</span>
          <span class="site-nav-link__primary">Contact</span>
        </a>
      </li>
      <li class="site-nav__item {% if active[1] == 'about' %} active {% endif %}">
        <a href="/about/">
          <span class="site-nav-link__secondary">Our story</span>
          <span class="site-nav-link__primary">About</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="banner">
    Now open on Mondays at 4:00pm!
  </div>
</header>
